main {
  .grid-layout {
    display: flex;
    .grid{
        width: 35%;
        padding: 6px;
    }
    .grid-sm{
        padding: 6px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        div{
          height: 50%;
        }
    }
  }
}

