<!DOCTYPE html>
<html>

<body style="overflow: hidden;">
    <header>Dear {{.name}},</header>
    <section style="margin-top: 2rem;">
        <span>Welcome to <strong>Lender</strong> </span> <span>powered by <strong><i>Prilax.</i></strong> Thanks for
            showing interest in Lender.
            You are now a customer. There are only few steps pending to reach your goal.</span>
    </section>
    <footer style="margin-top: 5rem;">
        <div>Thank you,</div>
        <strong>Team Lender</strong>
    </footer>
</body>

</html>