<!DOCTYPE html>
<html>
  <body style="overflow: hidden">
    <header>Dear {{.name}},</header>
    <section style="margin-top: 2rem">
      <span>Welcome to <strong>Lender</strong> </span>
      <span
        >powered by <strong><i>Prilax</i></strong> You are now an investor and
        you can manage your investment from below link.</span
      >
      <div>
        <a href="http://localhost:8060">Lender App</a>
      </div>
      <br>
      <div>User credential has been sent to you. If have not received the same mail. Please drop a mail.</div>
    </section>
    <footer style="margin-top: 5rem">
      <div>Thank you,</div>
      <strong>Team Lender</strong>
    </footer>
  </body>
</html>
