<!DOCTYPE html>
<html>

<body style="overflow: hidden;">
    <header>Hi {{.name}},</header>
    <section style="margin-top: 2rem;">
        <div>Your password has been reset. Here in below is your temporary password. Please login in with this 
            password and change your password.
        </div>
        <strong>Password: {{.password}}</strong>
        <p>If it is not done by you, please contact us immediately.</p>
    </section>
    <footer style="margin-top: 5rem;">
        <div>Thank you,</div>
        <strong>Team Lender</strong>
    </footer>
</body>

</html>