.card {
  background: rgb(6, 208, 148);
  background: linear-gradient(
    135deg,
    rgba(6, 208, 148, 0.10127801120448177) 55%,
    rgba(214, 6, 6, 0.036852240896358524) 100%
  );
  border: none !important;
}
