<main>
  <div class="form-min-height m-3 bg-white">
    <div class="d-flex justify-content-between p-1 pl-4 bg-gold">
      <span class="font-400 font-banner" style="line-height: 35px"
        >Investor</span
      >
      <div>
        <button class="btn btn-cancel" routerLink="/investors">
          <mat-icon class="white-icon">clear</mat-icon>&nbsp;Cancel
        </button>
        <button class="btn btn-save" (click)="save()" [disabled]="!form.valid || emailExists || mobileNoExists">
          <mat-icon class="white-icon">save_alt</mat-icon>&nbsp;Save Investor
        </button>
      </div>
    </div>

    <div class="form-content">
      <div class="input-container" [ngClass]="{ spacer: !id }">
        <div class="label-container">
          <label for="">Investor Id</label>
        </div>
        <input
          type="text"
          [formControl]="investorIdCtrl"
          id="investorIdCtrl"
          class="w-100"
        />
      </div>
      <div class="input-container">
        <div class="label-container">
          <label for="">Name <span class="required">*</span></label>
          <div
            class="error"
            *ngIf="(nameCtrl.errors && nameCtrl.dirty) || nameCtrl.touched"
          >
            <div *ngIf="nameCtrl.hasError('required')">Required</div>
          </div>
        </div>
        <input type="text" [formControl]="nameCtrl" class="w-100" />
      </div>
      <div class="input-container">
        <div class="label-container">
          <label for="">Mobile Number <span class="required">*</span></label>
          <div
            class="error"
            *ngIf="
              (mobileNoCtrl.errors && mobileNoCtrl.dirty) ||
              mobileNoCtrl.touched
            "
          >
            <div *ngIf="mobileNoCtrl.hasError('required')">Required</div>
          </div>
          <div class="error" *ngIf="mobileNoExists">Mobile No. has been already used!</div>
        </div>
        <input type="text" [formControl]="mobileNoCtrl" class="w-100" />
      </div>
      <div class="input-container">
        <div class="label-container">
          <label for="">Email<span class="required">*</span></label>
          <div
            class="error"
            *ngIf="(emailCtrl.errors && emailCtrl.dirty) || emailCtrl.touched"
          >
            <div *ngIf="emailCtrl.hasError('required')">Required</div>
          </div>
          <div class="error" *ngIf="emailExists">Email has been already used!</div>
        </div>
        <input type="text" [formControl]="emailCtrl" class="w-100" />
      </div>
      <div class="input-container">
        <div class="label-container">
          <label for="">Date of birth<span class="required">*</span></label>
          <div
            class="error"
            *ngIf="(dobCtrl.errors && dobCtrl.dirty) || dobCtrl.touched"
          >
            <div *ngIf="dobCtrl.hasError('required')">Required</div>
          </div>
        </div>
        <input type="date" [formControl]="dobCtrl" class="w-100" />
      </div>
      <div class="input-container">
        <div class="label-container">
          <label for="">Aadhaar Number<span class="required">*</span></label>
          <div
            class="error"
            *ngIf="
              (aadhaarNoCtrl.errors && aadhaarNoCtrl.dirty) ||
              aadhaarNoCtrl.touched
            "
          >
            <div *ngIf="aadhaarNoCtrl.hasError('required')">Required</div>
          </div>
        </div>
        <input type="number" [formControl]="aadhaarNoCtrl" class="w-100" />
      </div>
      <div class="input-container">
        <div class="label-container">
          <label for="">PAN Number<span class="required">*</span></label>
          <div
            class="error"
            *ngIf="
              (panCardCtrl.errors && panCardCtrl.dirty) || panCardCtrl.touched
            "
          >
            <div *ngIf="panCardCtrl.hasError('required')">Required</div>
          </div>
        </div>
        <input type="text" [formControl]="panCardCtrl" class="w-100" />
      </div>
      <div class="input-container">
        <div class="label-container">
          <label for="">Occupation</label>
        </div>
        <input type="text" [formControl]="occupationCtrl" class="w-100" />
      </div>
      <div class="input-container">
        <div class="label-container">
          <label for="">Gender <span class="required">*</span></label>
          <div
            class="error"
            *ngIf="
              (genderCtrl.errors && genderCtrl.dirty) || genderCtrl.touched
            "
          >
            <div *ngIf="genderCtrl.hasError('required')">Required</div>
          </div>
        </div>
        <select class="w-100" [formControl]="genderCtrl">
          <option [value]="gender.val" *ngFor="let gender of genders">
            {{ gender.val }}
          </option>
        </select>
      </div>
      <div class="input-container">
        <div class="label-container">
          <label for="">Status <span class="required">*</span></label>
          <div
            class="error"
            *ngIf="
              (statusCtrl.errors && statusCtrl.dirty) || statusCtrl.touched
            "
          >
            <div *ngIf="statusCtrl.hasError('required')">Required</div>
          </div>
        </div>
        <select class="w-100" [formControl]="statusCtrl">
          <option [value]="status.val" *ngFor="let status of statuses">
            {{ status.val }}
          </option>
        </select>
      </div>
      <div class="input-container">
        <div class="label-container">
          <label for="">Address</label>
        </div>
        <input type="text" [formControl]="addressCtrl" class="w-100" />
      </div>
    </div>
  </div>
</main>
