<div class="subtitle">Customer Details</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="col-md-6">
    <div class="d-flex field">
      <label>Customer Name :</label>
      <div>{{customer?.name}}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex field">
      <label>Mobile Number :</label>
      <div>{{customer?.mobileNo}}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex field">
      <label>Gender :</label>
      <div>{{customer?.gender}}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex field">
      <label>Occupation :</label>
      <div>{{customer?.occupation}}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex field">
      <label>Address :</label>
      <div>{{customer?.address}}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex field">
      <label>Status :</label>
      <div>{{customer?.status}}</div>
    </div>
  </div>
</div>