<main>
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav class="" [opened]="showSideNav" mode="side" *ngIf="isLoggedIn">
            <div class="fixed-nav-content pt-4">
                <div class="">
                    <div class="text-center font-black2">
                        <h4 class="title">Lender</h4>
                        <p class="subtitle">Powered by Prilax Group</p>
                    </div>
                    <br>
                    <br>
                    <div *ngFor="let sideNav of sideNavs">
                        <mat-nav-list *ngIf="sideNav.hasSubmenu === false">
                            <a mat-list-item [routerLink]="[sideNav.path]" routerLinkActive='active-link'>
                                <mat-icon>{{sideNav.icon}}</mat-icon>&nbsp;&nbsp;&nbsp; <span
                                    class="links-btn font-title-sm cursor-pointer">{{sideNav.title}}</span>
                            </a>
                        </mat-nav-list>

                        <mat-accordion multi="true" [displayMode]="'flat'" *ngIf="sideNav.hasSubmenu === true">
                            <mat-expansion-panel class="no-shadow" expanded="true">
                                <mat-expansion-panel-header fxLayout="row" [expandedHeight]="'42px'"
                                    [collapsedHeight]="'42px'">
                                    <mat-panel-title>
                                        <mat-icon>{{sideNav.icon}}</mat-icon><span
                                            class="links-btn font-title-sm cursor-pointer">&nbsp;&nbsp;&nbsp;{{sideNav.title}}</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-nav-list class="ml-0" dense>
                                    <mat-list-item *ngFor="let submenu of sideNav.submenu">
                                        <a class="w-100 h-100 side-nav-link" *ngIf="!submenu.isExternalUrl"
                                            [routerLink]="[submenu.path]" routerLinkActive='active-link'>
                                            &nbsp;&nbsp;&nbsp;&nbsp;{{submenu.title}}
                                        </a>
                                        <a class="w-100 h-100" *ngIf="submenu.isExternalUrl" [href]="submenu.path"
                                            target="_blank">
                                            &nbsp;&nbsp;&nbsp;&nbsp;<span>{{submenu.title}}</span>&nbsp;<mat-icon>
                                                open_in_new</mat-icon>
                                        </a>
                                    </mat-list-item>
                                </mat-nav-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <mat-toolbar class="shadow-sm" *ngIf="isLoggedIn">
                <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                  <mat-icon>menu</mat-icon>
                </button> -->
                <span>{{user?.name}}</span>
                <button mat-icon-button [matMenuTriggerFor]="userMenu">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item routerLink="/auth/change-password">
                        <mat-icon class="font-black1">vpn_key</mat-icon>
                        <span>Change password</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon class="font-black1">power_settings_new</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>
            </mat-toolbar>
            <div class="">
                <!-- <div loader *ngIf="loaderService.loading$ | async"></div> -->
                <!-- <div loader></div> -->
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
</main>