.card {
  background: rgb(6, 208, 19);
  background: linear-gradient(
    135deg,
    rgba(6, 208, 19, 0.17130602240896353) 55%,
    rgba(7, 214, 6, 0.05085784313725494) 100%
  );
  border: none !important;
  color: #06b1a8;
}
