<main>

  <section *ngIf="!changedPassword">
    <div class="title">Change Password</div>
    <div class="mt-4 pt-4">

      <div class="input-container">
        <div class="label-container">
          <label for="">Old Password <span class="required">*</span></label>
          <div
            class="error"
            *ngIf="(oldPassword.errors && oldPassword.dirty) || oldPassword.touched"
          >
            <div *ngIf="oldPassword.hasError('required')">Required</div>
          </div>
        </div>
        <input type="password" [formControl]="oldPassword" class="w-100" />
      </div>

      <div class="input-container">
        <div class="label-container">
          <label for="">New Password <span class="required">*</span></label>
          <div
            class="error"
            *ngIf="(password.errors && password.dirty) || password.touched"
          >
            <div *ngIf="password.hasError('required')">Required</div>
          </div>
        </div>
        <input type="password" [formControl]="password" class="w-100" />
      </div>

      <div class="input-container">
        <div class="label-container">
          <label for="">Confirm Password <span class="required">*</span></label>
          <div
            class="error"
            *ngIf="(confirmPassword.errors && confirmPassword.dirty) || confirmPassword.touched"
          >
            <div *ngIf="confirmPassword.hasError('required')">Required</div>
          </div>
        </div>
        <input type="password" [formControl]="confirmPassword" class="w-100" />
      </div>
      <div class="d-flex mt-2 w-100" (click)="changePassword()">
        <button class="btn btn-success w-100">
          Change Password
        </button>
      </div>
    </div>
  </section>

</main>
