@import "../../../../../assets/scss/control.scss";

main{
    display: flex;
    justify-content: center;
    section{
        margin-top: 10vh;
        width: 300px;
        .title{
            font-size: large;
        }
        .input-container{
            padding-bottom: 15px;
        }
    }
}